:root {
    --primary-color: rgb(91, 214, 167);
    --secondary-color: #250;
    --accent1-color: #2e24b8;
    --accent2-color: rgb(211, 208, 42);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}