:root {
    --primary-color: rgb(255, 255, 255);
    --accent1-color: #0f0d88;
    --accent2-color: hsla(234, 81%, 36%, 0.781);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent1-color);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    display: block;
    color: #fff;
    padding: 2rem;
    text-align: center;
    grid-row: 1/5;
}

img {
    margin: auto;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links {
    display: flex;
    list-style: none;
    box-sizing: content-box;
}

section ul {
    background-color: var(--accent1-color);
    text-decoration: none;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

li {
    flex-wrap: wrap;
    display: block;
    color: #fff;
    padding: 1rem;
    text-align: center;
    grid-row: 2/2;
}

ul h2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-row: 1/2;
}

.aventure {
    background-color: var(--accent1-color);
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.aventure h2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-row: 1/3;
}

figure {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

figure img {
    width: 160px;
    height: 160px;
    display: block;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
    grid-row: 2/3;
}

figcaption {
    flex-wrap: wrap;
    display: block;
    color: #fff;
    padding: 1rem;
    text-align: center;
    grid-row: 2/2;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    box-sizing: border-box;
    background-color: var(--accent1-color);
    text-align-last: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    color: #fff;
    margin-top: -190px;
    height: auto;
}

.hero article img {
    float: right;
    width: 140px;
    margin: 30px;
}

footer {
    padding: 1px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    text-align: center;
}

footer img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    aspect-ratio: auto 32 / 32;
}