:root {
    --primary-color: rgb(255, 255, 255);
    --accent1-color: #1f0e7c;
    --accent2-color: hsla(147, 93%, 43%, 0.658);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent1-color);
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav a {
    display: block;
    color: #fff;
    padding-right: 8rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}

img {
    padding: 1rem;
    margin: auto;
    width: 150px;
    height: 150px;
}

.links {
    display: flex;
    list-style: none;
}

h1 {
    padding: 0.5rem;
}

.general {
    text-align: center;
}

.information {
    display: flex;
    text-align: center;
}

.map {
    padding: 2rem 0 2rem 2rem;
}

form {
    padding: 2rem;
    font-weight: 900;
    text-align: center;
}

label {
    font-style: normal;
    padding: 0.5rem;
    text-align: left;
}

.item,
.item2 {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.option {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
}

.purpose {
    padding: 0.5rem;
    grid-column: 1;
    grid-row: span3;
}

input {
    padding-right: 9.5em;
    padding-bottom: 0.2rem;
}

.item3,
.item4,
.item5 {
    padding: 0.5rem;
    display: flex;
    flex-flow: row-reverse;
    justify-content: start;
    grid-column: 2/2;
}

.message {
    display: flex;
    flex-direction: column;
}

.checkbox {
    padding: 0.5rem;
    display: flex;
    flex-flow: row-reverse;
}

button {
    background-color: #21e73c;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 100px 10px 100px;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(89, 233, 173, 0.658);
    cursor: pointer;
}

.employee {
    margin: 2rem;
    background-color: var(--accent1-color);
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border: 10px;
    border-color: #000000;
}

.employee h2 {
    padding-top: 1rem;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-row: 1/3;
    color: #fff;
}

figure {
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
}

figcaption {
    flex-wrap: wrap;
    display: block;
    color: #fff;
    padding-bottom: 1rem;
    text-align: center;
    grid-row: 2/2;
}

.socialmedia {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

footer {
    padding: 1px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
}

.reserved {
    padding-top: 1rem;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0.5rem;
}