:root {
    --primary-color: rgb(255, 255, 255);
    --accent1-color: #002569;
    --accent2-color: hsla(226, 100%, 20%, 0.747);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent1-color);
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.links a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.logo {
    padding: 1rem;
    margin: auto;
    width: 150px;
    height: 150px;
}

.links {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hero,
.hero2 {
    position: relative;
}

.hero img,
.hero2 {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero2 h1 {
    font-size: 4.09rem;
    top: 0px;
    position: absolute;
    width: 100%;
    padding: 281px;
    text-align: center;
    background-color: #0018665b;
    color: var(--primary-color);
}

.resume {
    color: #424242;
    padding: 1.5rem;
    margin: 8rem;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1.5px solid #6b6b6b;
}

.general h1 {
    padding: 0.5rem;
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    color: #fff;
    margin-top: -210px;
    height: auto;
}

.hero article img {
    float: right;
    width: 140px;
    margin: 30px;
}

.history h2,
.aventure h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    box-sizing: border-box;
    background-color: var(--accent1-color);
    text-align-last: center;
}

.history h2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-row: 1/2;
}

section ul {
    background-color: var(--accent1-color);
    text-decoration: none;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

li {
    flex-wrap: wrap;
    display: block;
    color: #fff;
    padding: 1rem;
    text-align: center;
    grid-row: 2/2;
}

.history img {
    margin: auto;
    width: 120px;
    height: 120px;
}

.aventure {
    background-color: var(--accent1-color);
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

section ul {
    background-color: var(--accent1-color);
    text-decoration: none;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

li {
    flex-wrap: wrap;
    display: block;
    color: #fff;
    padding: 1rem;
    text-align: center;
    grid-row: 2/2;
}

.aventure h2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-row: 1 / 3;
}

.aventure figure {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.aventure figure img {
    width: 160px;
    height: 160px;
    display: block;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
    grid-row: 2/3;
}

.aventure figcaption {
    flex-wrap: wrap;
    display: block;
    color: #fff;
    padding: 1rem;
    text-align: center;
    grid-row: 2/2;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    /*Review if it dont affect*/
    line-height: 1.6;
}

.hero nav,
.hero p,
li p,
footer p,
.aventure,
.history,
article {
    margin: 16px;
    padding: 8px;
}

.general {
    text-align: center;
}

.information {
    display: flex;
    text-align: center;
}

.map {
    padding: 2rem 0 2rem 2rem;
}

.information form {
    font-family: none;
    color: #000;
    font-weight: 900;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 150px 400px;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
}

.sing-up {
    margin: 5rem;
    padding: 2rem;
    color: #ffffff;
    background-color: #002569;
    text-align: center;
}

.sing-up form {
    font-weight: 900;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

label {
    padding: 0.5rem;
    text-align: left;
}

.Name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.Email {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.tripslink {
    align-items: center;
    text-align: center;
    margin: 3rem 30rem 3rem 30rem;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
}

.tripslink a {
    margin: 1rem;
    background-color: var(--accent1-color);
    font-size: 1.3rem;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}

.tripslink img {
    width: 200px;
    height: auto;
}

.resumecontent {
    text-align: center;
    align-content: center;
    padding: 2rem;
    margin: 1rem;
    color: #fff;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 2fr 1fr;
    border-radius: 1rem;
}

.resumecontent h3 {
    font-size: 1.8rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.resumecontent h4 {
    font-size: 1.8rem;
    grid-column: 2 / 3;
    grid-row: 1/2;
}

.figure1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.figure2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.offerings {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.item {
    text-align: start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item2 {
    text-align: start;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.purpose {
    text-align: start;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.item3,
.item4,
.item5 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    padding: 0.5rem;
    grid-column: 2 / 3;
}

input {
    padding-right: 9.5em;
    padding-bottom: 0.2rem;
}

.messagebox {
    margin-right: 11rem;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

.checkbox {
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    flex-flow: row-reverse;
    grid-column: 1 /3;
    grid-row: 7 / 8;
}

.information button {
    margin-right: 11rem;
    background-color: #21e73c;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 100px 10px 100px;
    border-radius: 5px;
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}

.sing-up button {
    margin: 1rem;
    padding: 10px;
    background-color: #21e73c;
    color: #000000;
    text-transform: uppercase;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
}

button:hover {
    background-color: #59e9ada8;
    cursor: pointer;
}

.employee {
    margin: 2rem;
    background-color: var(--accent1-color);
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border: 10px;
    border-color: #000000;
}

.employee h2 {
    font-family: var(--heading-font);
    padding-top: 1rem;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-row: 1/3;
    color: #e7e7e7;
}

.porfile {
    padding: 1rem;
    margin: auto;
    width: 150px;
    height: 150px;
}

figure {
    text-decoration: none;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

figcaption {
    flex-wrap: wrap;
    display: block;
    color: #fff;
    padding-bottom: 1rem;
    text-align: center;
    grid-row: 2/2;
}

.socialmedia {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

footer {
    padding: 1px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
}

.reserved {
    padding-top: 1rem;
    text-align: center;
}

footer img {
    width: 50px;
    height: 50px;
    padding: 0.5rem;
}