:root {
    --heading-background-color: ;
    --text-aling: center;
    --height: auto;
    --width: 150px;
    --box-shadow: 0 0 30px gray;
    --padding: 2px;
}

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

img {
    width: var(--width);
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    height: var(--height);
}

nav a {
    color: white;
    padding: 20px;
    display: block;

}

h1 {
    color: darkblue;
}

main img {
    width: var(--width);
    border: 1px solid steelblue;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    height: var(--height);
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: var(--text-aling);
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-aling);
}